<div class="modal" tabindex="-1" id="edit-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add/edit customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table>
          <tr>
            <td>Name: </td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td>Legal entity: </td>
            <td>
              <select name="" id="" class="form-select">
                <option value="option1">Option one</option>
                <option value="option2">Option two</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>State: </td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td>Zip: </td>
            <td><input type="number" class="form-control"></td>
          </tr>
          <tr>
            <td>City: </td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td>Street: </td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td>Homepage: </td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td>No. employees: </td>
            <td><input type="number" class="form-control"></td>
          </tr>
          <tr>
            <td>Tax number: </td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr>
            <td>HRA: </td>
            <td><input type="text" class="form-control"></td>
          </tr>
        </table>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
