<div class="d-flex align-items-start search">
  <div class="input-group mb-3 me-3">
    <span class="d-flex justify-content-center align-items-center input-group-text">
      <i class="fa fa-search"></i>
    </span>
    <input
      type="text"
      class="form-control"
      placeholder="Username"
      aria-label="Username"
      aria-describedby="basic-addon1"
    />
  </div>
  <select name="" id="" class="form-select">
    <option value="">Byran</option>
    <option value="">Something else</option>
  </select>
</div>
