<button class="sidebar-opener btn btn-secondary d-none">
  <i class="fa fa-bars"></i>
</button>


<aside class="sidebar" id="sidebar">
  <div class="text-end">
    <button class="close sidebar-closer d-none btn btn-danger">
      <i class="fa fa-times"></i>
    </button>
  </div>

  <ul class="list-group">
    <li>
      <a href="/" class="list-group-item d-flex align-items-center active">
        <i class="fa-solid fa-wrench me-2"></i>
        <span>Customers</span>
      </a>
    </li>
    <li>
      <a href="/locations" class="list-group-item d-flex align-items-center">
        <i class="fa-solid fa-location-dot me-2"></i>
        <span>Locations</span>
      </a>
    </li>
    <li>
      <a href="/contacts" class="list-group-item d-flex align-items-center">
        <i class="fa-solid fa-user-group me-2"></i>
        <span>Contacts</span>
      </a>
    </li>
  </ul>
</aside>
