{% include 'includes/modal.html' %}

<div class="table-responsive">
  <table class="table table-border">
    <thead>
      <tr>
        <th>Name</th>
        <th>Legal entity</th>
        <th>State</th>
        <th>Address</th>
        <th>Tax number</th>
        <th>Homepage</th>
        <th>Employees</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John Doe</td>
        <td>AG</td>
        <td>Byren</td>
        <td>9203 Aalen Rin</td>
        <td>DE 93 ZZZ 0 0000</td>
        <td>www.google.com</td>
        <td>13</td>
        <td>
          <a type="button" data-bs-toggle="modal" data-bs-target="#edit-modal">
            <i class="fa fa-pen"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
<div class="table-responsive">

